<h3>Add Employee</h3>
<div *ngIf="added">
    <div [ngStyle]="{'color':'green'}">
        Employee Was Added Successfully<br>
        <a routerLink="/"><button>Go to Home</button></a>
    </div>
</div>
<div *ngIf="!added">
<form [formGroup]="employeeForm" (submit)="onSubmit()">
    Id:<input type="text" formControlName="id"><br>
    <div *ngIf="employeeForm.controls['id'].hasError('required')">
        <span [ngStyle]="{'color':'red'}">Id is mandatory</span>
    </div>
    Name:<input type="text" formControlName="name"><br>
    <div *ngIf="employeeForm.controls['name'].hasError('required')">
        <span [ngStyle]="{'color':'red'}">Name is mandatory</span>
    </div>
    <div *ngIf="employeeForm.controls['name'].hasError('minlength')">
        <span [ngStyle]="{'color':'red'}">Name should be minimum 2 characters</span>
    </div>
    <div *ngIf="employeeForm.controls['name'].hasError('maxlength')">
        <span [ngStyle]="{'color':'red'}">Name should not be more than 25 characters</span>
    </div>
    Department:<input type="text" formControlName="department"><br>
    <div *ngIf="employeeForm.controls['department'].hasError('minlength')">
         <span [ngStyle]="{'color':'red'}">Department should be minimum 2 characters</span>
    </div>
    Salary:<input type="number" formControlName="salary"><br>
    <div *ngIf="employeeForm.controls['salary'].hasError('min')">
        <span [ngStyle]="{'color':'red'}">Salary should be greater than 0</span>
    </div>
    <input type="submit" value="Add Employee">
</form>
</div>